
/*********************************************************
 * result.html
 *********************************************************/

h1 {
font-family: 'Abel', helvetica neue, sans-serif;
font-size: 50px;
letter-spacing: -4px;
margin-top: 30px;
}

.page-header {
border: none;
margin: 0px;
margin-top: 30px;
letter-spacing: -2px;
}


.btn {
font-family: 'Abel', helvetica neue, sans-serif;
padding: 15px;
width: 260px;
font-size: 20px;
background-image: none;
color: #fff;
text-shadow: none;
}

.btn-primary {
  background-color: rgb(49, 149, 214);
}

.btn-success {
  background-color: #51a351;
}


.btn-primary:hover {
	background-color: rgb(38, 121, 175);
	color: #ddd;
}

.btn-success:hover {
  background-color: #419331;
	color: #ddd;
}

body {
  font-family: 'Abel', helvetica neue, sans-serif;
}

.graph-placeholder {
    width: 500px;
    height: 300px;
    font-size: 14px;
    line-height: 1.2em;
}

.graph-container {
    box-sizing: border-box;
    width: 470px;
    height: 300px;
    padding: 0px 0px 10px 20px;
    margin:10px;
}

@media (max-width: 480px) {
  .graph-placeholder {
      width: 280px;
      height: 250px;
      font-size: 14px;
      line-height: 1.2em;
  }

  .graph-container {
      box-sizing: border-box;
      width: 270px;
      height: 250px;
      padding: 0px;
      margin:10px;
  }
}

.loadingicon {
  margin-right: 5px;
}

.legendLabel {
  font-size: 14px;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 14px;
}

.yaxisLabel {
	top: 70%;
	left: -20px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.xaxisLabel {
  bottom: -20px;
  left: 50%;
}

