
/*********************************************************
 * result.html
 *********************************************************/

.graph-placeholder {
    width: 500px;
    height: 300px;
    font-size: 14px;
    line-height: 1.2em;
}

.graph-container {
    box-sizing: border-box;
    width: 470px;
    height: 300px;
    padding: 0px 0px 10px 20px;
    margin:10px;
}

@media (max-width: 480px) {
  .graph-placeholder {
      width: 280px;
      height: 250px;
      font-size: 14px;
      line-height: 1.2em;
  }

  .graph-container {
      box-sizing: border-box;
      width: 270px;
      height: 250px;
      padding: 0px;
      margin:10px;
  }
}

.legendLabel {
  font-size: 14px;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 14px;
}

.yaxisLabel {
	top: 70%;
	left: -20px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.xaxisLabel {
  bottom: -20px;
  left: 50%;
}

