h1 {
font-family: 'Abel', helvetica neue, sans-serif;
font-size: 50px;
letter-spacing: -4px;
margin-top: 30px;
}

.page-header {
border: none;
margin: 0px;
margin-top: 30px;
letter-spacing: -2px;
}


.btn {
font-family: 'Abel', helvetica neue, sans-serif;
padding: 15px;
width: 260px;
font-size: 20px;
background-color: rgb(49, 149, 214);
background-image: none;
color: #fff;
text-shadow: none;
}

.btn:hover {
	background-color: rgb(38, 121, 175);
	color: #ddd;
}

body {
	font-family: 'Abel', helvetica neue, sans-serif;
}